<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PixelApps - Categoria: <%= category %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>
        <span class="title-white">Pixel</span
        ><span class="title-highlight">Apps</span>
      </h1>
      <nav><a href="/" class="nav-link">Início</a></nav>
    </header>

    <main>
      <section class="category-apps-container">
        <h2>
          Apps na categoria: <%= category.charAt(0).toUpperCase() +
          category.slice(1) %>
        </h2>
        <div class="carousel">
          <% if (apps.length === 0) { %>
          <p>Nenhum app encontrado nessa categoria.</p>
          <% } else { %> <% apps.forEach(app => { %>
          <div class="app-card">
            <a
              href="app.html?app=<%= encodeURIComponent(app.name.toLowerCase()) %>"
            >
              <% if (app.imagem) { %>
              <img
                src="<%= app.imagem %>"
                alt="Imagem do app <%= app.name %>"
                class="app-thumb"
              />
              <% } %>
              <strong><%= app.name %></strong>
              <p class="app-desc"><%= app.description.substring(0, 60) %>...</p>
            </a>
          </div>
          <% }) %> <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
